/* line 1, ../sass/style.scss */
body {
  background-image: url("../images/bg2.jpg");
  background-attachment: fixed;
  color: #000305;
  font-family: Arial, 'Lucida Sans Unicode' !important;
  text-align: left; }

/* line 9, ../sass/style.scss */
a {
  text-decoration: none !important; }

/* line 13, ../sass/style.scss */
a:link, a:visited {
  color: #000 !important; }

/* line 20, ../sass/style.scss */
.mainHeader img {
  width: 30%;
  height: auto; }

/* line 25, ../sass/style.scss */
.mainHeader nav {
  height: 40px;
  margin-top: -4%;
  text-align: center; }

/* line 31, ../sass/style.scss */
.mainHeader nav ul li:nth-child(1) {
  margin-left: 34%; }

/* line 35, ../sass/style.scss */
.mainHeader nav ul li {
  font-family: 'Raleway';
  font-weight: 400;
  float: left;
  font-size: 1.8em;
  display: inline;
  width: 17%;
  margin: 0 0 .2% 0; }

/* line 45, ../sass/style.scss */
.mainHeader .search {
  width: 6%;
  height: auto;
  float: right;
  margin: -8% 4.2% 0 0;
  clear: none;
  z-index: 1; }

/* line 54, ../sass/style.scss */
.product-inventory {
  float: right;
  margin: -3.3% 3.4% 0 0%;
  clear: both; }
  /* line 58, ../sass/style.scss */
  .product-inventory p {
    font-size: 90%;
    margin: 0 0 -1% 0;
    font-family: Arial; }

/* line 66, ../sass/style.scss */
hr.style-one {
  display: block !important;
  height: 1px !important;
  border-top: 1px solid black !important;
  width: 98% !important;
  margin: -0.8% 0 0.5% 1% !important; }

/* line 77, ../sass/style.scss */
.mainContent {
  position: relative;
  margin: 3% 0 0 0; }

/* line 82, ../sass/style.scss */
.row {
  margin: 4% 17% .1% 17%; }

/* line 87, ../sass/style.scss */
.centerText {
  text-align: center; }

/* line 90, ../sass/style.scss */
.thermalCol {
  visibility: visible; }
  /* line 92, ../sass/style.scss */
  .thermalCol video {
    position: relative;
    left: -25%; }

/* line 101, ../sass/style.scss */
.imageTitle {
  overflow: hidden;
  position: relative;
  width: 332px;
  height: 288px;
  background: #fff;
  font-size: 1.6em;
  font-weight: 500;
  border: 1px solid black;
  text-align: center;
  margin: 1px auto 15px;
  padding: 1.5%;
  box-shadow: 5px 5px 60px black;
  cursor: pointer; }

/* line 120, ../sass/style.scss */
.coCol video {
  position: relative;
  left: -26.8%; }

/* line 124, ../sass/style.scss */
.fireCol video {
  position: relative;
  left: -25%; }

/* line 129, ../sass/style.scss */
.fireCol {
  float: right; }

/* line 133, ../sass/style.scss */
#fire {
  position: relative;
  display: none;
  box-shadow: 5px 5px 60px black; }

/* line 138, ../sass/style.scss */
#thermal {
  position: relative;
  display: none;
  box-shadow: 5px 5px 60px black; }

/* line 143, ../sass/style.scss */
#co {
  position: relative;
  display: none;
  box-shadow: 5px 5px 60px black; }

/* line 148, ../sass/style.scss */
.imgC, .imgC1, .imgC2 {
  width: 337px;
  position: relative;
  height: 288px;
  cursor: pointer;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1; }

/* line 158, ../sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none; }

/* line 162, ../sass/style.scss */
div#mainCarousel {
  position: absolute;
  left: 9.8%;
  width: 340px;
  height: 305px; }

/* line 168, ../sass/style.scss */
ol.carousel-indicators {
  bottom: 21px; }

/* line 172, ../sass/style.scss */
.carousel-inner {
  position: absolute;
  top: 17%;
  left: 1.4%;
  width: 330px;
  overflow: hidden; }

/* line 180, ../sass/style.scss */
.carousel-inner > .item > img {
  height: 237px;
  width: 335px; }

/* line 185, ../sass/style.scss */
.carousel-fade .carousel-inner .item {
  -webkit-transition: all 1.1s ease-in-out, opacity 1s ease-in;
  -moz-transition: all 1.1s ease-in-out, opacity 1s ease-in;
  -ms-transition: all 1.1s ease-in-out, opacity 1s ease-in;
  -o-transition: all 1.1s ease-in-out, opacity 1s ease-in;
  transition: all 1.1s ease-in-out, opacity 1s ease-in; }

/* line 194, ../sass/style.scss */
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0 !important; }

/* line 199, ../sass/style.scss */
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1 !important; }

/* line 202, ../sass/style.scss */
.carousel-fade .carousel-control {
  z-index: 2 !important; }

/* line 208, ../sass/style.scss */
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 77.5%; }

/* line 215, ../sass/style.scss */
.intro {
  padding: .1% 5% 0 5%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Raleway';
  font-weight: 500; }

/* line 224, ../sass/style.scss */
.spi-certified {
  position: absolute;
  margin: 8% 0 0 8%;
  opacity: .7; }

/* line 230, ../sass/style.scss */
.chat {
  position: absolute;
  float: right;
  display: inline-block;
  margin: 9% 2.1% 0 91%;
  clear: both; }

/* line 241, ../sass/style.scss */
.phone {
  position: relative;
  cursor: pointer;
  z-index: 100; }

/* line 247, ../sass/style.scss */
.phone-number {
  position: absolute;
  top: 225px;
  left: 908px;
  display: none;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 28px;
  color: #444543; }

/* line 258, ../sass/style.scss */
img[src="images/phone.png"] {
  position: relative;
  margin: 3.5% 48% 4% 48%;
  cursor: pointer;
  display: inline;
  z-index: 10; }

/* line 266, ../sass/style.scss */
img[src="images/phonenumber.png"] {
  position: absolute;
  left: 48%;
  margin: -57% 0% 0% 8%;
  display: none; }

/* line 273, ../sass/style.scss */
.mainFooter {
  margin: 0 0 5% 28.4%; }

/* line 277, ../sass/style.scss */
div.p-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 284, ../sass/style.scss */
a:hover + div.p-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 293, ../sass/style.scss */
div.c-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 300, ../sass/style.scss */
a:hover + div.c-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 309, ../sass/style.scss */
div.i-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 316, ../sass/style.scss */
a:hover + div.i-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 325, ../sass/style.scss */
div.y-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 332, ../sass/style.scss */
a:hover + div.y-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 341, ../sass/style.scss */
div.t-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 348, ../sass/style.scss */
a:hover + div.t-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 357, ../sass/style.scss */
div.f-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 364, ../sass/style.scss */
a:hover + div.f-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 373, ../sass/style.scss */
div.e-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 380, ../sass/style.scss */
a:hover + div.e-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 389, ../sass/style.scss */
div.a-footer-title {
  visibility: hidden;
  opacity: 0;
  transition: visibility -1s, opacity 1s linear;
  font-size: .8em;
  text-align: center; }

/* line 396, ../sass/style.scss */
a:hover + div.a-footer-title {
  width: 100%;
  top: 4%;
  margin: -18% 0 0 0.6% !important;
  text-shadow: 1px 1px rgba(75, 75, 75, 0.54);
  visibility: visible;
  opacity: 1;
  text-align: center; }

/* line 406, ../sass/style.scss */
.mainFooter img {
  display: inline; }

/* line 410, ../sass/style.scss */
footer ul li {
  width: 7%;
  list-style: none;
  float: left;
  display: inline-block;
  text-align: center; }

/* line 421, ../sass/style.scss */
div.documents-container {
  width: 97%;
  font-size: 1.1em;
  margin: 2.5% 0 0 0;
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  /* line 428, ../sass/style.scss */
  div.documents-container ul li {
    padding: 0 2%;
    width: 19%;
    display: inline-block;
    text-align: center; }
  /* line 434, ../sass/style.scss */
  div.documents-container a {
    display: inline-block;
    width: 60px;
    text-align: center; }

/* line 440, ../sass/style.scss */
.supertherm-tds-span {
  position: relative;
  width: 100%;
  margin: 5%; }

/* line 446, ../sass/style.scss */
.tds {
  cursor: pointer; }

/* line 449, ../sass/style.scss */
.certifications {
  cursor: pointer; }

/* line 452, ../sass/style.scss */
.certifications-container {
  margin: 2% 0;
  display: none; }

/* line 456, ../sass/style.scss */
.project-pictures {
  cursor: pointer; }

/* line 459, ../sass/style.scss */
.project-videos {
  cursor: pointer; }

/* line 462, ../sass/style.scss */
.application-instructions {
  cursor: pointer; }

/* line 465, ../sass/style.scss */
.application-instructions-container {
  display: none;
  margin: 2% 10%;
  line-height: 190%; }

/* line 471, ../sass/style.scss */
#tds-pdf {
  display: none; }

/* line 474, ../sass/style.scss */
#tds-pdf embed {
  height: 1160px;
  margin: 3% 25%;
  width: 50%; }

/* line 484, ../sass/style.scss */
.certifications-container table {
  width: 90%;
  font-size: 1.1em; }
  /* line 487, ../sass/style.scss */
  .certifications-container table th {
    height: 100px; }
  /* line 490, ../sass/style.scss */
  .certifications-container table img {
    height: 100px;
    margin: 0 5% 0 5%; }
  /* line 494, ../sass/style.scss */
  .certifications-container table td:nth-child(1) {
    width: 15%;
    padding: 0 0;
    height: auto;
    line-height: 100%;
    text-align: center; }
  /* line 501, ../sass/style.scss */
  .certifications-container table td:nth-child(2) {
    width: 75%;
    padding: 0 5%;
    height: 50px; }
  /* line 506, ../sass/style.scss */
  .certifications-container table td:nth-child(3) {
    width: 10%;
    padding: 0 5%;
    height: 50px; }
  /* line 511, ../sass/style.scss */
  .certifications-container table td:hover {
    background-color: rgba(134, 97, 16, 0.32);
    border-radius: 50px;
    cursor: pointer; }
  /* line 516, ../sass/style.scss */
  .certifications-container table td:nth-child(3) {
    text-align: center; }
  /* line 519, ../sass/style.scss */
  .certifications-container table ul li {
    list-style: none; }

/* line 525, ../sass/style.scss */
td.before-message {
  height: 5px;
  display: none; }

/* line 530, ../sass/style.scss */
.five-message {
  width: 100%;
  font-weight: 600; }

/* line 540, ../sass/style.scss */
.products-container {
  font-size: 1.5em;
  columns: 2;
  margin: 2% 9.1% 3% 9.1%;
  display: table; }

/* line 546, ../sass/style.scss */
.products-container h6 {
  font-family: 'Arial';
  font-weight: 300;
  text-align: center; }

/* line 552, ../sass/style.scss */
.products-background {
  text-align: center;
  padding: 1% 10%;
  opacity: 0.05;
  z-index: -1; }

/* line 562, ../sass/style.scss */
.thermal-list button {
  background-color: rgba(134, 97, 16, 0.32); }

/* line 566, ../sass/style.scss */
.corrosion-list button {
  background-color: rgba(134, 97, 16, 0.32); }

/* line 570, ../sass/style.scss */
.fire-list button {
  background-color: rgba(149, 39, 4, 0.32); }

/* line 574, ../sass/style.scss */
.concrete-list button {
  background-color: rgba(61, 61, 60, 0.32); }

/* line 578, ../sass/style.scss */
.graffiti-list button {
  background-color: rgba(7, 4, 152, 0.32); }

/* line 582, ../sass/style.scss */
.hot-surface-name {
  font-size: .7em; }

/* line 586, ../sass/style.scss */
.button {
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(134, 97, 16, 0.32);
  border-radius: 25px;
  box-shadow: 1px 10px 10px rgba(66, 66, 66, 0.7);
  float: left;
  width: 430px;
  line-height: 100%;
  height: 90px;
  margin: 2% 1% 1% 4%;
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  outline: none; }
  /* line 601, ../sass/style.scss */
  .button .description {
    position: relative;
    float: right;
    line-height: 50%;
    margin: -2% 3% 0 -2%;
    font-size: .5em;
    font-style: italic; }
  /* line 609, ../sass/style.scss */
  .button .description-too-big {
    position: relative;
    float: right;
    line-height: 50%;
    margin: 0.3% 3% 0 -2%;
    font-size: .5em;
    font-style: italic; }
  /* line 617, ../sass/style.scss */
  .button img {
    position: relative;
    float: right;
    margin: -1.6% 2% 0 -50px; }
  /* line 623, ../sass/style.scss */
  .button h4 {
    line-height: 90%; }
  /* line 626, ../sass/style.scss */
  .button .too-big {
    font-size: 1em !important;
    line-height: 105% !important; }
  /* line 630, ../sass/style.scss */
  .button p {
    font-size: 1em;
    margin: 0% 0% 0 0;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    display: table-cell;
    line-height: 100%;
    vertical-align: middle; }
  /* line 640, ../sass/style.scss */
  .button i {
    position: relative;
    display: block;
    line-height: 100%;
    font-size: .55em;
    vertical-align: top; }

/* line 648, ../sass/style.scss */
.button:hover {
  background-color: rgba(144, 144, 143, 0.32); }

/* line 650, ../sass/style.scss */
.description-us {
  font-size: .1em;
  display: inline;
  text-align: right;
  padding: 0 0 0 3%; }

/* line 677, ../sass/style.scss */
#hot-surface-name {
  font-size: .9em; }

/* line 683, ../sass/style.scss */
.certified-contractors-container {
  font: 3.5em 'Dosis';
  width: 90%;
  margin: 3% 10% 0 7%; }

/* line 689, ../sass/style.scss */
.certified-contractors {
  text-align: center;
  width: 75%;
  margin: 5.5% 0 2.5% 10%;
  font: 500 .44em 'Helvetica';
  line-height: 150%; }

/* line 697, ../sass/style.scss */
.certified-contractors-background {
  position: absolute;
  text-align: center;
  padding: 1% 34.5%;
  opacity: 0.05;
  z-index: 1; }

/* line 705, ../sass/style.scss */
.about-container {
  font-size: 3.5em;
  font-family: 'Dosis';
  width: 90%;
  margin: 3% 10% 0 7%; }

/* line 712, ../sass/style.scss */
.about-us {
  text-align: center;
  width: 80%;
  margin: 3% 0 4% 10%;
  font-family: 'Nunito', sans-serif;
  line-height: 150%;
  font-size: .39em; }

/* line 721, ../sass/style.scss */
.about-background {
  position: fixed;
  text-align: center;
  padding: 1% 34.5%;
  opacity: 0.05;
  z-index: 1; }

/* line 729, ../sass/style.scss */
.payments-container {
  font-family: 'Dosis';
  font-size: 3em;
  width: 90%;
  margin: 3% 10% 0 7%; }

/* line 736, ../sass/style.scss */
.payments-background {
  position: fixed;
  text-align: center;
  padding: 1% 34.7%;
  opacity: 0.05;
  z-index: 1; }

/* line 744, ../sass/style.scss */
.coming-soon {
  font-size: .6em;
  position: relative;
  font-family: 'Poiret One';
  margin: 10.7% 5% 8.9% .5%;
  opacity: .8;
  width: 92.5%;
  text-align: center; }

/* line 754, ../sass/style.scss */
.industry-links-container {
  font-family: 'Dosis';
  font-size: 3em;
  width: 90%;
  margin: 3% 10% 0 7%; }

/* line 761, ../sass/style.scss */
.industry-links-background {
  position: fixed;
  text-align: center;
  padding: 1% 35.5%;
  opacity: 0.05;
  z-index: 1; }

/* line 769, ../sass/style.scss */
.industry-links {
  text-align: center;
  width: 80%;
  margin: 2% 0 3.05% 10%;
  font-family: 'Nunito', sans-serif;
  line-height: 150%;
  font-size: .39em; }

/* line 779, ../sass/style.scss */
.mainContainer p {
  font-size: 1.9em;
  padding: 30px; }

/* line 789, ../sass/style.scss */
.picture-container {
  display: none; }

/* line 793, ../sass/style.scss */
.pic-group-heading {
  display: block;
  font-size: 2em;
  margin: 3% 2% 2% 2%;
  font-family: 'Raleway';
  text-align: center; }

/* line 802, ../sass/style.scss */
div.panel:last-child {
  margin-bottom: 2%; }

/* line 810, ../sass/style.scss */
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

/* line 816, ../sass/style.scss */
.panel h4 {
  text-align: center; }

/* line 821, ../sass/style.scss */
.eagle {
  background: grey;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(193, 136, 50, 0.3), gray);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(193, 136, 50, 0.3), gray);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(193, 136, 50, 0.3), gray);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(193, 136, 50, 0.2), #808080);
  /* Standard syntax */ }

/* line 829, ../sass/style.scss */
.eagle-body {
  background: grey;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, gray, white, gray);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, gray, white, gray);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, gray, white, gray);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  /* Standard syntax */ }

/* line 837, ../sass/style.scss */
.panel-title {
  text-align: center; }

/* line 841, ../sass/style.scss */
figure {
  /* Then you can center your img inside the figure element */
  text-align: center; }

/* line 845, ../sass/style.scss */
.panel-img {
  display: inline; }

/* line 850, ../sass/style.scss */
.panel-body p {
  text-align: justify; }
  /* line 852, ../sass/style.scss */
  .panel-body p :hover {
    background-color: #ada599;
    border-radius: 2%;
    background: grey;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgba(193, 136, 50, 0.3), gray);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(193, 136, 50, 0.3), gray);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(193, 136, 50, 0.3), gray);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(193, 136, 50, 0.2), #808080);
    /* Standard syntax */ }
/* line 862, ../sass/style.scss */
.panel-body img {
  text-align: center;
  margin: 2%;
  width: 7.25em;
  height: 8.25em; }
/* line 868, ../sass/style.scss */
.panel-body .photos {
  position: relative;
  float: right;
  margin: 10% 1% 0 0; }

/* line 885, ../sass/style.scss */
.thermal-parallax {
  width: 100%;
  display: none;
  margin-top: 5%; }
  /* line 889, ../sass/style.scss */
  .thermal-parallax h1 {
    text-align: justify; }
  /* line 892, ../sass/style.scss */
  .thermal-parallax h4 {
    text-align: justify; }
  /* line 895, ../sass/style.scss */
  .thermal-parallax p {
    font-size: 3em !important;
    width: 28em;
    text-align: justify; }

/* line 901, ../sass/style.scss */
.corrosion-parallax {
  display: none;
  margin-top: 5%; }
  /* line 904, ../sass/style.scss */
  .corrosion-parallax h1 {
    text-align: justify; }
  /* line 907, ../sass/style.scss */
  .corrosion-parallax h4 {
    text-align: justify; }
  /* line 910, ../sass/style.scss */
  .corrosion-parallax p {
    font-size: 3em !important;
    width: 28em;
    text-align: justify; }

/* line 916, ../sass/style.scss */
.fire-parallax {
  display: none;
  margin-top: 5%; }
  /* line 919, ../sass/style.scss */
  .fire-parallax h1 {
    text-align: justify; }
  /* line 922, ../sass/style.scss */
  .fire-parallax h4 {
    text-align: justify; }
  /* line 925, ../sass/style.scss */
  .fire-parallax p {
    font-size: 3em !important;
    width: 28em;
    text-align: justify; }

/* line 932, ../sass/style.scss */
.right-main {
  padding: 1em 1em 1em 53%; }
  /* line 934, ../sass/style.scss */
  .right-main h4 {
    padding: 1em 10em 1em 0%; }

/* line 939, ../sass/style.scss */
.right {
  padding: 1em 0 1em 53%;
  margin: 1% 1% 1% 50%;
  background-position: 0 50%; }
  /* line 943, ../sass/style.scss */
  .right h1 {
    padding: 0 10% 0 0; }
  /* line 946, ../sass/style.scss */
  .right h4 {
    padding: 0 10% 0 0; }

/* line 951, ../sass/style.scss */
.left {
  padding: 1em 53% 1em 7.4em; }
  /* line 953, ../sass/style.scss */
  .left h4 {
    padding: 1em 0% 1em 0em;
    text-align: justify; }

/* line 959, ../sass/style.scss */
* {
  box-sizing: border-box;
  margin: auto; }

/* line 964, ../sass/style.scss */
.main-parallax {
  position: relative;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/* .main-parallax2 instead of .content-main */
/* line 977, ../sass/style.scss */
.main-parallax2 {
  position: relative;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat; }

/* line 988, ../sass/style.scss */
.separator {
  font-size: 1.875rem;
  text-align: center; }

/* line 993, ../sass/style.scss */
.supertherm-1 {
  margin: 2% 0 0 0%;
  background-attachment: fixed;
  background: url("../images/supertherm-12.jpg") no-repeat fixed 6.2% 70%;
  background-size: 900px; }

/* line 999, ../sass/style.scss */
.supertherm-2 {
  margin: 0 0 0 0;
  background: rgba(129, 80, 16, 0.69) url("../images/tc4.jpeg") no-repeat fixed 95% 50%;
  background-size: 900px; }

/* line 1004, ../sass/style.scss */
.supertherm-3 {
  background-attachment: fixed;
  background-position: 0% 57%;
  z-index: -10;
  margin: 0 0 0 0;
  background: grey url("../images/rg-10.jpg") no-repeat fixed 6.2% 70%;
  background-size: 900px; }

/* line 1012, ../sass/style.scss */
.supertherm-4 {
  margin: 0 0 0 0;
  background: white url("../images/rg-4.jpg") no-repeat fixed 95% 50%;
  background-size: 900px; }

/* line 1018, ../sass/style.scss */
.rustgrip-1 {
  width: 92%;
  margin: 2% 0 0 5%;
  background-attachment: fixed;
  background-position: 2% 67%;
  background-image: url("../images/rg-1.jpg");
  z-index: -10; }

/* line 1026, ../sass/style.scss */
.rustgrip-2 {
  margin: 0 0 0 0;
  background-color: rgba(129, 80, 16, 0.69);
  background-image: url("../images/rg-2.jpg"); }

/* line 1031, ../sass/style.scss */
.rustgrip-3 {
  margin: 0 0 0 0;
  background-color: grey;
  background-image: url("../images/rg-7.jpg"); }

/* line 1036, ../sass/style.scss */
.rustgrip-4 {
  margin: 0 0 0 0;
  background-color: white;
  background-image: url("../images/rg-4.jpg"); }

/* line 1042, ../sass/style.scss */
.hotpipe-1 {
  width: 92%;
  margin: 2% 0 0 5%;
  background-attachment: fixed;
  background-position: 2% 67%;
  background-image: url("../images/hp-1.jpeg");
  z-index: -10; }

/* line 1050, ../sass/style.scss */
.hotpipe-2 {
  margin: 0 0 0 0;
  background-color: rgba(129, 80, 16, 0.69);
  background-image: url("../images/hp-2.jpg"); }

/* line 1055, ../sass/style.scss */
.hotpipe-3 {
  margin: 0 0 0 0;
  background-color: grey;
  background-image: url("../images/hp-3.jpg"); }

/* line 1060, ../sass/style.scss */
.hotpipe-4 {
  margin: 0 0 0 0;
  background-color: white;
  background-image: url("../images/hp-4.jpeg"); }

/* line 1066, ../sass/style.scss */
.supertherm-1-1 {
  background-image: url("../images/.jpg"); }

/* line 1070, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  line-height: 1.313em; }

/* line 1075, ../sass/style.scss */
h1 {
  font-size: 5em;
  font-family: 'Raleway'; }

/* line 1081, ../sass/style.scss */
h2 {
  font-family: Arial;
  text-align: center; }

/* line 1085, ../sass/style.scss */
h3 {
  position: relative;
  font-family: "Trajan Pro";
  text-align: center;
  line-height: 45px;
  font-size: 1.1em; }

/* line 1092, ../sass/style.scss */
h4 {
  font-size: 1.2em !important;
  font-family: 'Raleway';
  margin: 1.313em 0; }

/* line 1097, ../sass/style.scss */
h5 {
  font-family: "Trajan Pro";
  font-size: 1.125em;
  margin: 1.313em 0; }

/* line 1102, ../sass/style.scss */
h6 {
  font-family: 'Raleway', cursive !important;
  text-align: center;
  font-size: 2em !important;
  margin: 0.75em 0;
  width: 101%; }

/* line 1110, ../sass/style.scss */
img[src="images/shadow-1.png"] {
  position: relative;
  float: left;
  margin: -0.05% 0 0 1.8%;
  background-position: 0 50%;
  width: 50%;
  z-index: 1000; }

/* line 1118, ../sass/style.scss */
img[src="/images/shadow-2.png"] {
  margin: 1px 1px; }

/* line 1124, ../sass/style.scss */
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  left: 5px;
  bottom: 5px;
  background: url("../images/up.png") no-repeat center 1%;
  transition: background-image 1s ease-in-out; }

/* line 1137, ../sass/style.scss */
a:hover.back-to-top {
  background: url("../images/up2.png") no-repeat center 1%; }

@-webkit-keyframes hvr-wobble-bottom {
  /* line 1146, ../sass/style.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }

  /* line 1151, ../sass/style.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

  /* line 1156, ../sass/style.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }

  /* line 1161, ../sass/style.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }

  /* line 1166, ../sass/style.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }

  /* line 1171, ../sass/style.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }

@keyframes hvr-wobble-bottom {
  /* line 1178, ../sass/style.scss */
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }

  /* line 1183, ../sass/style.scss */
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

  /* line 1188, ../sass/style.scss */
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }

  /* line 1193, ../sass/style.scss */
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }

  /* line 1198, ../sass/style.scss */
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }

  /* line 1203, ../sass/style.scss */
  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }

/* line 1209, ../sass/style.scss */
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

/* line 1221, ../sass/style.scss */
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* line 1233, ../sass/style.scss */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; }

/* line 1245, ../sass/style.scss */
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #0c1fc7;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

/* line 1262, ../sass/style.scss */
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

@-webkit-keyframes hvr-icon-bob {
  /* line 1271, ../sass/style.scss */
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }

  /* line 1276, ../sass/style.scss */
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

  /* line 1281, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }

@keyframes hvr-icon-bob {
  /* line 1288, ../sass/style.scss */
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }

  /* line 1293, ../sass/style.scss */
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

  /* line 1298, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }

@-webkit-keyframes hvr-icon-bob-float {
  /* line 1305, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }

@keyframes hvr-icon-bob-float {
  /* line 1312, ../sass/style.scss */
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }

/* line 1318, ../sass/style.scss */
.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 1332, ../sass/style.scss */
.hvr-icon-bob:before {
  content: "";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

/* line 1341, ../sass/style.scss */
.hvr-icon-bob:hover:before, .hvr-icon-bob:focus:before, .hvr-icon-bob:active:before {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

/* line 1359, ../sass/style.scss */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  /*position: relative;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

/* line 1374, ../sass/style.scss */
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity; }

/* line 1392, ../sass/style.scss */
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-25px) scale(1.5);
  transform: translateY(-25px) scale(1.5); }

/* line 1398, ../sass/style.scss */
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px); }
